/*  your css code here. If applicable */
p{
            text-align: center;
	font-size:30px
        }
       
       #animal-photos{
        background-color: gray;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 10px 10px;
       }
       img{
        border-radius: 10px;
         
       }